.board {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    /* border: 2px red solid; */
    min-width: 20vw;
    max-width: 20vw;
    /* min-height: 75vh; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
   

}
.board:hover .dots{
    opacity: 1;
}

.cards {
    
    margin: 10px 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.board_top {
    border-radius: 10px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background:white; */
}

.dots {
    display: flex;
   gap: 20px;
   padding-right: 20px;
    text-align: right;
    width: 10%;
    opacity: 0;
    /* cursor: pointer; */
}

.title {
    margin: 0 5px;
    max-width: 15vw;
    display: flex;
    align-items: center;
    gap: 20px;
}
.editIcon{
    cursor: pointer;
}
.checkIcon{
   cursor: pointer;
}

.delIcon{
    cursor: pointer;
}

.input{
    padding-left:10px;
    height: 30px;
    border-radius: 5px;
    background: transparent;
}