.footer {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px 0px;
}



.icon {
    cursor: pointer;
}


.inner {
    background-color: rgb(220, 220, 208);
    width: 250px;
    margin: 5px;
    border: 2px solid rgb(232, 232, 222);
    border-radius: 10px;
    padding: 0 10px ;
    padding-top: 10px;
}

.textarea {
    width: 90%;
    padding: 10px ;
    outline: none;
    border-radius: 5px;
    background: transparent;
}