.card {
    margin: 15px;
    border: 2px solid rgb(206, 212, 185);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 10px;
    border-radius: 5px;
   
    
}
.card:hover{
    background-color: white;
}


.icons{
    opacity: 0;
}

.card:hover .icons{
    
    opacity: 1;
    
}

.input{
    padding-left:10px;
    height: 30px;
    border-radius: 5px;
    background: transparent;
}
.editIcon{
    cursor: pointer;
}
.checkIcon{
   cursor: pointer;
}

.delIcon{
    cursor: pointer;
}
.icons{
    display: flex;
    gap: 10px;
}

.link{
    text-decoration: none;
    color: black;
}