.card {
    margin: 15px;
    border: 2px solid rgb(206, 212, 185);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 10px;
    border-radius: 5px;
    
}
.card:hover{
    background-color: white;
}

.delIcon{
    cursor: pointer;
    opacity: 0;
}

.card:hover .delIcon{
    
    opacity: 1;
    
}





.link{
    text-decoration: none;
    color: black;
}