.top{
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    display: flex;
    gap: 20px;
    align-items: center;
}
.description{
    margin-top: 20px;
}
.top_description{
    display: flex;
    gap: 20px;
    align-items: center;
}

.outer{
    width: 80%;
}
.inner{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 246, 244);
    padding: 20px;
    border-radius: 10px;
}
.content{
    margin: 20px
}
.buttons{
    margin: 10px;
}
.cancelIcon{
    cursor: pointer;
}

.titleEdit{
    display: flex;
    align-items: center;
    gap: 20px;

}
.input{
    border: 1px solid black;
    height: 25px;
    border-radius: 5px;
    padding-left: 5px;
}
.checkIcon{
    cursor: pointer;
    
}

.b_location{
    display: flex;
    align-items: center;
    gap: 30px;
}