.top{
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    display: flex;
    gap: 20px;
    align-items: center;
}
.description{
    display: flex;
    gap: 20px;
    align-items: center;
}